html{
    background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1769&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 470%;
    
}
h2{
    font-size: 250%;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left{
    left:0;
}
.right {
    right:0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.affHead1 {
    margin-top: -122px;
    
}
#addAffirmation{
    height: 25px;
    width: 250px;
}
#addBtn {
    height: 30px;
    width: 75px;
}
aside{
    font-size: 180%
}
ul{
    font-size: 200%
}
button{
    height: 30px;
    width: 45px;
}